<div id="mc_embed_signup">
<form action="https://app.99inbound.com/api/e/yJFnj3zV" method="POST"  name="mc-embedded-subscribe-form" target="_blank">
	<div id="mc_embed_signup_scroll">
	<h2>Chcesz być na bieżąco z web dev oraz web design to zapisz się już teraz!</h2>

<div class="mc-field-group">                
	<input type="email" value="" name="email" placeholder="Wpisz adress E-mail">
</div>
	<div class="clear"><input type="submit" value="Zapisz mnie!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</div>
</form>
</div>

