<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Obserwuj mnie - Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
		<!--
           -<div class="sidebar-section">
           -    <h5><span>Kategorie</span></h5>
           -    <ul style="list-none;">
           -    <li><a target="_blank" href="#">link</a></li>
           -    <li><a target="_blank" href="#">link</a></li>
           -    <li><a target="_blank" href="#">link</a></li>
           -    <li><a target="_blank" href="#">link</a></li>
           -    <li><a target="_blank" href="#">link</a></li>
           -    <li><a target="_blank" href="#">link</a></li>
           -    </ul>
           -</div>
		   -->
            
        <div class="sidebar-section">
             <h5><span>Reklama</span></h5>
			 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			 <!-- danielkoziara.pl - reklama sidebar -->
			 <ins class="adsbygoogle"
				      style="display:inline-block;width:250px;height:250px"
					       data-ad-client="ca-pub-6641904023999926"
						        data-ad-slot="3433732457"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
        </div>
            
</div>
